<div style="height: 100%; position: relative; padding: 30px; display: flex; flex-direction: column;">
    <div style="display: flex; align-items: center; cursor: pointer; padding-right: 15px;">

        <span style="font-size: 22px; padding-right: 5px; margin: 0 0 11px;">#</span>
        <h1></h1>
    </div>
    <mat-card style="display: flex; border-radius: 10px; padding-right: 20px;">
        <div style="padding-right: 15px;">
            <img style="width: 40px; border-radius: 80%; " src="assets/img/girl-2.png">
        </div>

        <div>
            <div>
                <span style="font-weight: 500;"> Tijana Couturier </span>
                <span>14/2/2023   18:25 Uhr</span>
            </div>
            <div>
                <span>Mein erster Commentar</span>
            </div>

            <div (click)="commentarRoom()">0 Commentar</div>
        </div>

    </mat-card>



</div>

<!--
     <img style="width: 40px;" src="assets/img/girl-3.png">



        <mat-tree-node routerLink='/channel' routerLinkActive="router-link-active" *matTreeNodeDef="let node" matTreeNodeToggle>
                            <p style="margin-bottom: 0; padding-top: 0px;">#</p>
                            {{node.name}}
                        </mat-tree-node>
-->