textarea {
    margin-top: 10px;
    border: none;
    outline: none !important;
    resize: none;
    width: 100%;
}

.mat-drawer-container {
    height: 100%;
    width: 100%;
}

.channel {
    height: 92%;
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.editMenu {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-right: 15px;
}

.channel-icon {
    font-size: 22px;
    padding-right: 5px;
    margin: 0 0 11px;
}

.overflow {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 200px);
    mat-card {
        display: flex;
        border-radius: 10px;
        padding-right: 20px;
        img {
            width: 40px;
            border-radius: 80%;
        }
    }
}

.mat-accordion {
    position: absolute;
    bottom: 30px;
    width: 95%;
}

.under {
    display: flex;
    justify-content: flex-end;
    button {
        color: white;
        // background-color: rgb(25, 125, 48);
        background-color: rgb(18, 104, 38);
        border: none;
    }
}

.angular-editor-toolbar {
    background: unset !important;
}

.angular-editor,
.angular-editor-textarea,
.angular-editor-wrapper {
    input {
        border: none !important;
    }
    border: none !important;
}

.angular-editor[_ngcontent-iok-c123] .angular-editor-wrapper[_ngcontent-iok-c123] .angular-editor-textarea[_ngcontent-iok-c123] {
    input {
        border: none !important;
    }
}

.angular-editor-toolbar {
    background-color: rgb(85, 24, 86) !important;
    border: none;
}

.editor {
    //  background-color: rgb(161, 97, 163);
    //  background-color: rgb(245, 245, 245);
    border: 1px solid;
    input {
        margin-top: 10px;
        border: none;
        outline: none;
        resize: none;
        width: 100%;
    }
    angular-editor-toolbar {
        background-color: rgb(85, 24, 86) !important;
        border: none;
    }
    .angular-editor-textarea {
        margin-top: 10px;
        border: none;
        outline: none !important;
        resize: none;
        width: 100%;
    }
    input {
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: groove;
    }
}

.angular-editor-wrapper {
    outline: none;
}

.no-outline {
    outline: none;
}

.angular-editor-toolbar {
    background: unset !important;
}