.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-width: 100%;
    height: 100vh;
    background-color: #3F0E40;
}

.access-container {
    width: 35vw;
    height: auto;
    border-radius: 1rem;
}

.mat-card-header {
    align-items: center;
}

.mat-card-title {
    margin: 0 !important;
    font-size: 2.5rem;
}

.mat-card-subtitle {
    text-align: center;
    font-size: 1.25rem;
    border-bottom: 1px solid black;
    padding: 24px 0 6px 0;
    border-radius: 0.25rem;
}

.mat-form-field {
    width: 100%;
}

.access-links {
    display: flex;
    justify-content: space-between;
    align-self: center;
    a {
        text-decoration: none;
        color: black;
        &:hover {
            text-decoration: underline;
        }
    }
}

.access-login {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 12px;
    box-sizing: border-box;
    a {
        text-decoration: none;
        margin-left: 8px;
        color: #3F0E40;
        font-weight: 900;
        &:hover {
            text-decoration: underline;
        }
    }
}

.form-btn {
    width: 100%;
    margin: 24px 0 32px 0;
}