<div class="login-page">
    <div class="access-container">
        <mat-card>
            <mat-card-header>
                <img mat-card-avatar src="./assets/img/slack.png">
                <mat-card-title>Slack</mat-card-title>
            </mat-card-header>
            <mat-card-subtitle>SignUp</mat-card-subtitle>
            <mat-card-content>
                <form [formGroup]="signUpForm" class="example-form" (ngSubmit)="signUp()">
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your first name</mat-label>
                        <input [(ngModel)]="user.firstName" type="text" formControlName="name" matInput>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your last name</mat-label>
                        <input [(ngModel)]="user.lastName" type="text" formControlName="name" matInput>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your email</mat-label>
                        <input [(ngModel)]="user.email" type="email" formControlName="email" matInput>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your password</mat-label>
                        <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <button class="form-btn" mat-raised-button color="primary">Signup</button>
                </form>
                <div class="access-links">
                    <a href="reset">Forgot Password</a>
                    <a href="dashboard">Guest Login</a>
                </div>
                <div class="access-login">
                    <span><i>Already have an account?</i></span>
                    <a href="login">Login</a>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>