<mat-toolbar>
  <button mat-icon-button class="example-icon">
    <mat-icon (click)="drawer.toggle()">menu</mat-icon>
  </button>

  <div>
    <div class="search">
      <input [(ngModel)]="searchValue" />
      <button matSuffix mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
  <div class="dashboard-profile">
    <span> {{ firstName }} {{ lastName }}</span>
    <button mat-button [matMenuTriggerFor]="beforeMenu">
      <img src="assets/img/girl-2.png" />
    </button>
  </div>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item>
      <mat-icon> account_circle</mat-icon>Profile Settings
    </button>
    <button
      routerLink="/logout"
      routerLinkActive="router-link-active"
      mat-menu-item
    >
      <mat-icon> logout</mat-icon>Logout
    </button>
  </mat-menu>
</mat-toolbar>

<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="h1">
      <h2>Developer Akademie</h2>
    </div>

    <div class="thread-area">
      <mat-icon>chat</mat-icon>
      <p>Threads</p>
    </div>

    <ul class="menu-items">
      <div>
        <li>
          <div>
            <div class="navigate">
              <div class="navigate-arrow">
                <mat-icon
                  *ngIf="channelOpen"
                  (click)="toggleChannelMenu()"
                  fontIcon="arrow_drop_down"
                  >arrow_drop_down</mat-icon
                >
                <mat-icon
                  *ngIf="!channelOpen"
                  (click)="toggleChannelMenu()"
                  fontIcon="arrow_right"
                  >arrow_right</mat-icon
                >
                <span>Channels</span>
              </div>
              <mat-icon fontIcon="add" (click)="openDialog()">add</mat-icon>
            </div>
          </div>
          <div *ngIf="channelOpen">
            <div
              style="max-height: 35px"
              *ngFor="let channel of channels; let i = index"
            >
              <div
                class="channel-name"
                [ngClass]="{
                  'active-chatroom': activeChatChannel == 'channel' + i
                }"
                (click)="showActive('channel' + i, i)"
                [routerLink]="['/dashboard/channel/' + channel.channelId]"
                [queryParams]="{ sendedPostID: '' }"
              >
                <p>
                  #
                  <!-- <mat-icon >tag</mat-icon>-->
                </p>
                <span>{{ channel.channelName }}</span>
              </div>
            </div>
          </div>

          <div (click)="openDialog()" class="example-button-container">
            <mat-icon style="color: black">add</mat-icon>
            <p>Create new Channel</p>
          </div>
        </li>

        <li>
          <div>
            <div class="navigate">
              <div class="navigate-arrow">
                <mat-icon
                  *ngIf="channelOpen"
                  (click)="toggleChannelMenu()"
                  fontIcon="arrow_drop_down"
                  >arrow_drop_down</mat-icon
                >
                <mat-icon
                  *ngIf="!channelOpen"
                  (click)="toggleChannelMenu()"
                  fontIcon="arrow_right"
                  >arrow_right</mat-icon
                >
                <span>Directives</span>
              </div>
              <mat-icon fontIcon="add" (click)="openDialog()">add</mat-icon>
            </div>
          </div>
          <div *ngIf="channelOpen">
            <div
              style="max-height: 35px"
              *ngFor="let user of users; let i = index"
            >
              <div
                class="channel-name"
                (click)="showActive('channel' + i, i)"
                [routerLink]="['/dashboard/chat']"
                [queryParams]="{ sendedPostID: '' }"
              >
                <p>#</p>
                <span>{{ user.firstName }} {{ user.lastName}}</span>
              </div>
            </div>
          </div>

          <div (click)="openDialog()" class="example-button-container">
            <mat-icon style="color: black">add</mat-icon>
            <p>Create new Chat</p>
          </div>
        </li>
      </div>
    </ul>
    <div style="border-bottom: 1px solid rgb(85, 24, 86)">
      <div class="imprint">
        <button mat-icon-button>
          <mat-icon style="width: 30px"> account_balance</mat-icon>
        </button>
        <span>Imprint</span>
      </div>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
